[Desktop Entry]
Type=Application
Exec=/usr/bin/xhost +SI:localuser:keymapper
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=keyszer
Name=keyszer
Comment[en_US]=Grant X session access permission to keyszer
Comment=Grant X session access permission to keyszer
