[core]
	editor = vim
	pager = diffr --colors refine-removed:background:200,0,0:foreground:white:bold | less -R
[diff]
	colorMoved = default
[init]
	defaultBranch = main
[interactive]
	difffilter = diffr --colors refine-removed:background:200,0,0:foreground:white:bold
[merge]
	conflictstyle = diff3
	ff = no
[pull]
	ff = only
[push]
	default = current
[user]
	email = huy.duong@ologn.tech
	name = Huy Duong
[color]
	ui = auto
