[color]
	ui = auto
[core]
	hooksPath = ~/.config/git/hooks
	excludesfile = ~/.gitignore
[diff]
        tool = nvimdiff
[difftool]
        prompt = false
[difftool "nvimdiff"]
        cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = qhuyduong
[pull]
	ff = only
[push]
	default = current
[user]
	name = Huy Duong
	email = huy.duong@employmenthero.com
[init]
	defaultBranch = main
