# disable wake from S3 on XHC1. Verify in /proc/acpi/wakeup
SUBSYSTEM=="pci", KERNEL=="0000:00:14.0", ATTR{power/wakeup}="disabled"

# disable wake from S4 on LID0. Verify in /proc/acpi/wakeup
SUBSYSTEMS=="acpi", KERNELS=="PNP0C0D:00", ATTR{power/wakeup}="disabled"
