/*-*- mode: css; -*-*/

configuration {
	modi: "combi,github:~/.local/share/rofi/scripts/github.sh,circleci:~/.local/share/rofi/scripts/circleci.sh,power:~/.local/share/rofi/scripts/power.sh,sentry:~/.local/share/rofi/scripts/sentry.sh";
	font: "Fira Code 10";
	show-icons: true;
	terminal: "rofi-sensible-terminal";
	combi-modi: "window,drun,github,circleci,power,sentry";
}
