* {
    font-family: "Ubuntu Nerd Font";
    font-size: 14px;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces button {
    padding: 0 5px;
}

#tray, #custom-audio_idle_inhibitor, #backlight, #pulseaudio, #network, #battery, #clock {
    margin: 0 5px;
}

#custom-audio_idle_inhibitor {
    color: #03fca5;
}

#network.disconnected {
    color: #f53c3c;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
}

#clock {
    font-weight: bold;
}
